OPENAI_API_KEY=

# Enter either your Vonage Video Application or OpentTok Project Credentials

# Vonage Video Application credentials.  The Private Key can be the Key as a string
# or a path to a file containing the Private Key
VONAGE_APPLICATION_ID=YOUR_APPLICATION_ID
VONAGE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
-----END PRIVATE KEY-----"
#VONAGE_PRIVATE_KEY=/path/to/key/file

# OR OpenTok video project credentials
OPENTOK_API_KEY=YOUR_API_KEY
OPENTOK_API_SECRET=YOUR_API_SECRET

# A Vonage Video Session
VONAGE_SESSION_ID=YOUR_SESSION_ID

# Websocket URL of your Pipecat server (ngrok or production)
WS_URI=wss://<your-ngrok-domain>/ws