OPENAI_API_KEY=

# Vonage Video Application credentials
VONAGE_APPLICATION_ID=YOUR_APPLICATION_ID
VONAGE_PRIVATE_KEY=/path/to/your/private.key

# OR OpenTok credentials
OPENTOK_API_KEY=YOUR_API_KEY
OPENTOK_API_SECRET=YOUR_API_SECRET

VONAGE_SESSION_ID=YOUR_SESSION_ID
# Websocket URL of your Pipecat server (ngrok or production)
WS_URI=wss://<your-ngrok-domain>/ws
