GRADIUM_API_KEY=your_gradium_api_key
OPENAI_API_KEY=your_openai_api_key

# WhatsApp (only needed for WhatsApp local testing / production)
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_APP_SECRET=
# Only for local development, for Pipecat Cloud it will need to match your public API key.
WHATSAPP_WEBHOOK_VERIFICATION_TOKEN=
