# This variable is automatically populated when you run the script that launches the new agent.
# If you're curious, the value is stored in .bedrock_agentcore.yaml.
AGENT_RUNTIME_ARN=

# The Daily room URL that users will join to talk to the agent.
DAILY_ROOM_URL=https://YOURDOMAIN.daily.co/YOURROOM
