# This variable is automatically populated when you run the script that launches the new agent.
# If you're curious, the value is stored in .bedrock_agentcore.yaml.
AGENT_RUNTIME_ARN=

# Credentials for STUN/TURN servers.
# Username and credential fields are optional, since not all ICE servers require them.
# For example, Google’s public STUN server does not require authentication.
ICE_SERVER_URLS=stun:stun.l.google.com:19302
ICE_SERVER_USERNAME=
ICE_SERVER_CREDENTIAL=