AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=...
DEEPGRAM_API_KEY=...
CARTESIA_API_KEY=...

# Credentials for the TCP TURN servers
ICE_SERVER_URLS=turn:turn.cloudflare.com:3478?transport=tcp,turn:turn.cloudflare.com:80?transport=tcp,turns:turn.cloudflare.com:5349?transport=tcp,turns:turn.cloudflare.com:443?transport=tcp
ICE_SERVER_USERNAME=
ICE_SERVER_CREDENTIAL=
