OPENAI_API_KEY=
DEEPGRAM_API_KEY=
CARTESIA_API_KEY=
PLIVO_AUTH_ID=
PLIVO_AUTH_TOKEN=

# Your Plivo phone number for outbound calls
PLIVO_PHONE_NUMBER=

# Environment configuration
ENV=local
AGENT_NAME=plivo-chatbot-dial-out
ORGANIZATION_NAME=