DAILY_API_KEY= # Create here: https://dashboard.daily.co/developers 
OPENAI_API_KEY= # Create here: https://platform.openai.com/docs/overview
CARTESIA_API_KEY= # Create here: https://play.cartesia.ai/keys
