# OpenTok credentials
VONAGE_API_KEY=YOUR_API_KEY
VONAGE_API_SECRET=YOUR_API_SECRET

# API base
OPENTOK_API_URL=https://api.opentok.com

# Or if you are using Vonage sdk
# Vonage SDK credentials
VONAGE_APPLICATION_ID=YOUR_APPLICATION_ID
VONAGE_PRIVATE_KEY=YOUR_PRIVATE_KEY_PATH

# API base
VONAGE_API_URL=api.vonage.com

# Websocket URL of your Pipecat server (ngrok or production)
WS_URI=wss://<your-ngrok-domain>

# Put existing session from playground or app which you want to connect pipecat-ai
VONAGE_SESSION_ID=1_MX4....

# Audio settings for the Audio Connector
VONAGE_AUDIO_RATE=16000

# Optional: override bidirectional (defaults to true in the script)
# VONAGE_BIDIRECTIONAL=true

# Leave Blank - This will be auto-written by client after /connect API call:
VONAGE_CONNECTION_ID=
