CARTESIA_API_KEY=your_cartesia_key
DEEPGRAM_API_KEY=your_deepgram_key
GOOGLE_API_KEY=your_google_key

# app.arize.com > Settings > API Keys > User API Keys
ARIZE_API_KEY=
# app.arize.com > Settings > Space Settings > Copy Space ID (top right)
ARIZE_SPACE_ID=
ARIZE_PROJECT_NAME=

# Phoenix Keys
PHOENIX_PROJECT_NAME=
PHOENIX_SPACE_ID=
PHOENIX_API_KEY=
PHOENIX_COLLECTOR_ENDPOINT=http://localhost:6006